# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs

# Top-most EditorConfig file
root = true

[*]
# Default to UTF-8 encoding
charset = utf-8

# LF line endings
end_of_line = lf

# Trim trailing whitespaces
trim_trailing_whitespace = true

[*.rs]
# Rust-specific settings (example: use 100 characters per line)
max_line_length = 80

[{*.yaml,*.yml,*.tf,*.tfstate,*.tfvars}]
# YAML-specific settings (example: use 2 spaces for indentation)
indent_style = space
indent_size = 4